* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("pexels-mister-mister-380782.jpg");
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding: 8px 16px;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
    color: goldenrod;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: lightyellow;
}

.main-content h1 {
    font-size: 3rem;
    max-width: 600px;
}

.main-content p {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.main-content button {
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 6px;
    background: blanchedalmond;
    font-weight: 600;
    color: #333;
    transition: .3s;
}

.main-content button:hover {
    color: blanchedalmond;
    background: #333;
}